.display-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    margin-top: 25px;
    padding: 10px;
    border: 2px solid;
    border-radius: 15px;
    transition: 5s ease-out;
    -webkit-transition: .5s ease;
    box-shadow: 5px 5px 2px 2px#272643;
    background-color: rgb(245, 243, 243);
}

.display-item:hover {
    transform: translate(-15px, 5px);
    background-color: #fff;
    box-shadow: 8px 8px 10px 5px rgba(0, 0, 0, 0.3);
}

.display-item .fa-heart {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    color: grey;
    transition: 0.2s all;
    opacity: 0.7;
    cursor: pointer;
}
  
.display-item-label {
    display: block;
    line-height: 20px;
    transition: 0.5s all;
}
  
.display-item.like .fa-heart {
    font-size: 25px;
    opacity: 1;
    color: red;
}

.display-item.like:hover .fa-heart {
    animation: 1.2s ease-in-out 0s normal none 1 running trambling-animation;
}
@keyframes trambling-animation {
    0%, 50%, 100% {
        transform: rotate(0deg);
    }
    10%, 30% {
        transform: rotate(-10deg);
    }
    20%, 40% {
        transform: rotate(10deg);
    }
}

.heart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    display: flex;
    justify-content: center;
}

.welcome {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.welcome img {
    width: 53vh;
    border-radius: 1%;
    border-bottom: 2px solid #fe7f48;
    animation: opaciti-anim 1s 1 ease-in-out;
}

@keyframes opaciti-anim {
   0% {opacity: 0};
   50% {opacity: 0.5};
   100% { opacity: 1};
}


@media screen and (max-width: 650px) {
    .welcome img {
        width: 40vh;
    }
}
